<div class="list-container followed-lists">
  <% if lists.count > 0 %>
  	<% lists.each do |list| %>
  		<%= erb :'/lists/_show', locals: {list: list} %>
  	<% end %>
  <% else %>
  	<h3 class="no-lists">You have not followed any lists yet.</h3>
  <% end %>
</div>
