<% if list %>
	<h2 class="list-header"><a href="/users/<%= list.user.id %>"><%= list.user.username %></a></h2>
  
  <div id="list-view">
  	<% if list.movies.count < 1 %>
  		<h3>You have not added any movies to this list.</h3>
  	<% else %>
      <%= erb :'/lists/_show', locals: {list: list} %>
  	<% end %>
  </div>
<% end %>
