body {
  /*background-color: #141414;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.ui.container {
  width: 90%;
}

.list-container {
  margin-bottom: 20px;
}

.list-container > .list {
  margin: 2.5px 0;
}

.list-header > h4 {
  font-size: 1.4em;
}

div.ui.container > div.layout.main.content > div.ui.middle.aligned.center.aligned.grid > div.column {
    max-width: 450px;
}

.owl-container {
  margin: 0 auto;
/*  margin-bottom: 20px;*/
  width: 92%;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .item {
  position: relative;
}
.owl-carousel .item img {
  position: relative;
}
.owl-carousel .item p {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.owl-carousel .owl-controls {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0%, -100%);
  width: 100%;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-prev:hover {
  position: relative;
  right: 1%;
  float: left;
  background: none;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-next:hover {
  position: relative;
  left: 1%;
  float: right;
  background: none;
}

.owl-carousel .owl-nav .owl-next i, .owl-carousel .owl-nav .owl-prev i {
  font-size: 2em;
  color: #AAAAAA;
}

.owl-carousel .owl-nav .owl-next i:hover, .owl-carousel .owl-nav .owl-prev i:hover {
  color: #555555;
}

.owl-nav {
  z-index: -1;
}

.list-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4.list-name {
  display: inline;
}

.list-buttons {
  margin-left: 5px;
  display: inline-block;
}

.list-buttons > i:hover {
  
}

.list-buttons > a:hover, form:hover {
  font-size: 1.2em;
}

.list-buttons > form {
  display: inline;
}

.list-buttons > form > button {
  color: red;
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}


.title-info {
  height: 32px;
  margin-top: -32px;
  z-index: 1;
  position: relative;
}

.title-info > .providers-info > a > img.provider {
  margin-left: 2px;
  margin-right: 2px;
  float: right;
  display: inline;
  width: 28px;
  height: 28px;
  z-index: 4;
  position: relative;
}

.title-info > .providers-info > a > img.provider:hover {
  width: 2.4em;
  height: 2.4em;
}

.title-year {
  float: right;
}

nav {
  float: right;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 10px;
  vertical-align: middle;
}

#searched-titles {
  margin-top: 20px;
}

.logo {
  margin-top: 35px;
  float: left;
}


.main {
  clear: both;
}


p .errors {
  display: inline-block;
}

div.container > div.layout.main.content {
  margin-top: 100px;
}

h3.your-lists {
  display: inline;
}

a.new-list i {
  margin-left: 10px;
  border-radius: 5px;
}

h2.list-name-header, h3.list-desc-header {
  display: inline;
}

div#list-view {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ui.basic.modal.confirm-delete > .content > p {
  text-align: center;
  font-size: 2em;
}

#movie-show > .content > .description {
  max-width: 60%;
}

#movie-show > .header > p.genre, #movie-show > .header > span {
  font-size: .7em;
}

#movie-show > .content {
  padding-top: 0;
}

.ui.link.card {
  margin-top: 3.5px;
  margin-bottom: 3px;
  /*if going with black theme*/
  /*box-shadow: none;*/
}

.remove-movie {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: red;
}

.remove-movie:hover {
  transition: font-size 0.2s ease;
  font-size: 1.4em;
}

.user {
  color: red;
  float: right;
}