html {
  height: 100%
}

div.ui.container > div.layout.main.content > div.ui.middle.aligned.center.aligned.grid > div.column {
    max-width: 450px;
}

.title-info {
  height: 40px;
  margin-top: -40px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.title-info > h3 {
  font-size: 1.2em;
  color: white;
  margin-left: 5px;
  z-index: 1;
  position: relative;
}

.title-year {
  float: right;
}

span.date {
  /*margin-left: 10px*/;
}

nav {
  float: right;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 10px;
  vertical-align: middle;
}

#searched-titles {
  margin-top: 20px;
}

.logo {
  margin-top: 35px;
  float: left;
}


.main {
  clear: both;
}


p .errors {
  display: inline-block;
}

div.container > div.layout.main.content {
  margin-top: 100px;
}

h3.your-lists {
  display: inline;
}

a.create-a-list {
  margin-left: 20px;
}

h2.list-name-header, h3.list-desc-header {
  display: inline;
}

div#list-view {
  margin-top: 50px;
  margin-bottom: 50px;
}


