<%= erb :'/users/_profile_header', locals: {user: user} %>

<% if current_user == user  %>
	
  	<h3 class="your-lists">Your lists</h3>
  	<a id="new-list" class="new-list" href="/lists/new"><i class="bordered inverted green plus icon" ></i></a>
  	<%= erb :'/lists/_new' %>

<% end %>

	<div class="list-container">
		
	  <% if lists %>
	  	<% lists.each do |list| %>
	  		<%= erb :'/lists/_show', locals: {list: list} %>
	  	<% end %>
	  <% else %>
	  	<h4>You have no lists. </h4>
	  <% end %>
	</div>
