<% if current_user && updates.any? %>

	<%= erb :'/updates/_show', locals: {updates: updates} %>

<% end %>

<div class="update-content">
	<i class="remove icon"></i>
	<div class="list">
	</div>
</div>
